.page-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/img/background.jpg);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 60px 30px;
  color: rgb(247, 226, 193);
}
h2,
p {
  font-family: "Nunito Sans", sans-serif;
}
.description,
h1 {
  text-align: center;
}
h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 56px;
  line-height: 60px;
}
