:root {
  --primary-color: white;
}
body {
  background-color: rgb(38, 37, 39);
  color: rgba(255, 255, 255, 0.733);
}
.page-hero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.025) 10%,
      rgba(59, 56, 56, 0.187) 40%,
      rgba(73, 72, 74, 0.519) 75%,
      rgb(38, 37, 39) 100%
    ),
    url(/img/background3.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 10px 30px 60px 30px;
  color: black;
  text-align: center;
}
h2,
h3,
p,
.btn-branding-outline,
.primary-button {
  font-family: "Nunito Sans", sans-serif;
}
.description {
  line-height: 30px;
}
h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 72px;
  line-height: 40px;
}
.primary-button {
  color: var(--primary-color);
  background-color: #27214271;
  border-radius: 4px;
  font-size: 14px;
  padding: 15px 25px;
  text-decoration: none;
  border: 1px #272142;
  border-style: solid;
}
.primary-button:hover {
  text-decoration: none;
  transition: 300ms;
  color: var(--primary-color);
  background-color: #272142;
}
.main-text {
  line-height: 30px;
  font-size: 16px;
  margin-top: 0;
}
.btn-branding-outline {
  color: var(--primary-color);
  border: 1px var(--primary-color);
  border-style: solid;
}
.btn-branding-outline:hover {
  color: var(--primary-color);
}
@media (max-width: 760px) {
  .project-description {
    text-align: center;
    padding: 10px;
  }
  h1 {
    font-size: 45px;
  }
  .about-section {
    text-align: center;
    padding: 20px;
    margin: 0;
  }
  .about-page-image {
    display: block;
    margin: 0 auto;
  }
  .works-heading {
    text-align: center;
    line-height: normal;
  }
  .header {
    display: flex;
    justify-content: space-evenly;
  }
  nav ul {
    margin-left: 0;
    padding-left: 0;
  }
  nav li {
    line-height: 20px;
    font-size: 14px;
  }
}
.about-section {
  padding: 30px;
}
.about-page-heading {
  line-height: 70px;
}
.about-page-subheading {
  font-size: 25px;
  font-style: bold italic;
  font-weight: 700px;
}
img {
  border-radius: 4px;
}
img,
.works-image {
  max-width: 80%;
  height: auto;
}
.works-image {
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}
.works-heading {
  size: 74px;
  font-weight: 700px;
  line-height: 85px;
  font-family: "Playfair Display SC", serif;
}
.content-container {
  padding: 120px 50px;
}
a {
  color: var(--primary-color);
  text-decoration: none;
}
a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
nav li {
  list-style: none;
  display: inline;
  line-height: 42px;
  margin-left: 15px;
}
